* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background-color: #f4f4f4;
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center
}

nav ul li {
    margin: 0 1rem;
    transition: 300ms all;
    &:hover {
        transform: scale(1.1);
    }
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: 300ms all;
}

main {
    padding-top: 60px;
}

section {
    padding: 2rem 2rem;
}

h1, h2, h3 {
    margin-bottom: 1rem;
}

.logo {
    width: 50px;
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.swiper-slide {
    position: relative;
    display: flex;
    justify-content: center;
}

.swiper-slide img {
    width: 90%;
    height: 100%;
    object-fit: contain;
}

.slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.recipe-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.recipe-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.recipe-card h3, .recipe-card p {
    padding: 0.5rem 1rem;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 4px;
    margin: 1rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 0.5rem 0;
    }
}

.contact-info {
    margin-top: 2rem;
    text-align: center;
}

.contact-info h3 {
    margin-bottom: 1rem;
}

.contact-info p {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-info i {
    margin-right: 0.5rem;
}

